include ../includes/header.pug
body
    div(class="wrapper")
        div(class="titles")
            h1 Edit User
        form(action="", method="post", class="form")
            label(class="label") First Name:
                input(type="text", name="fName", placeholder="First Name", value=`${user.fName}`, reqiured,class="input")
            label(class="label") Last Name:
                input(type="text", name="lName", placeholder="Last Name", value=`${user.lName}`, reqiured,class="input")
            label(class="label") Id:
                input(type="text", name="id", placeholder="id", value=`${user.id}`, reqiured,class="input") 
                //- only number regex
            label(class="label") Father's Name:
                input(type="text", name="father", placeholder="Father's Name", value=`${user.father}`,class="input")
            label(class="label") Date of birth:
                input(type="date" name="bDay" placeholder="Date of Birth", value=`${user.bDay}`,class="input")
            
            button(type="submit", class="bttn-link frm-bttn-link") Save Changes

        include ../includes/footer.pug
        